extends layout

block content
  .middle
    #status

  footer
    .content
      img(src="/images/swc_logo.svg")
      p www.software-berater.net

  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/index.js')
