extends layout

block content
  .middle
    #status
    #title

  footer
    .content
      img(src="/images/r4h_logo.svg")
      p
        span(class="right")
        |

  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/index.js')

