extends layout

block content
  .middle
    #status
    #title

  footer
    .content
      img(src="/images/swc_logo.svg")
      p
        span(class="right") 02241 – 261 5320
        | www.software-berater.net

  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/index.js')
