.outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.feedback {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40%;
  text-align: center;
}

p.content {
  font-size: 150px;
  display: table-cell;
  vertical-align: middle;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: table;
  width: 100%;
}

.footer > * {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.footer > .child.left {
  padding: 30px;
  padding-right: 15px;
}

.footer > .child.right {
  padding: 30px;
  padding-left: 15px;
}

.child.right > p {
  text-align: right;
  color: white;
}

object.logo {
  height: 88px;
}

.normal {
  background: white;
}

.ok {
  background: green;
}

.error {
  background: red;
}

.wait {
  background: orange;
}
