@import url(https://fonts.googleapis.com/css?family=Asap:400,700);

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/OpenSans-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/OpenSans-ExtraBold.ttf") format('ttf');
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  margin: 0 0 150px 0;
  background-color: #1e1e1e;
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
  font-family: 'Asap', 'Open Sans', Helvetica, Arial, sans-serif;
}
footer {
  background-color: #F00;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 122px;
  width: 100%;
  color: #aaaaaa;
  display: flex;
  justify-content: center;
  align_items: center;
}

footer img {
  height: 100%;
  width: auto;
}

footer p {
  line-height: 72px;
  font-size: 32px;
  margin: 0;
}

.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content {
  padding: 25px;
}

#status, #title {
  text-align: center;
  padding: 25px 50px;
}

#status {
  font-size: 150px;
  line-height: 225px;
  font-weight: 700;
}

#title {
  margin-top: 3px;
}

.error {
  background: #ca060b;
  color: white;
}

.wait {
  background: orange;
}

.info {
  background: gray;
}

.success {
  background: green;
}

.right {
  float: right;
}
