@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/OpenSans-Bold.ttf) format('ttf');
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  margin: 0 0 150px 0;
  background-color: #222222;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

footer {
  background-color: #333333;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 122px;
  width: 100%;
  color: #a0a0a0;
}

footer img {
  height: 72px;
  margin-right: 20px;
  float: left;
}

footer p {
  line-height: 72px;
  font-size: 32px;
  margin: 0;
}

.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content {
  padding: 25px;
}

#status {
  font-size: 150px;
  font-weight: 600;
  text-align: center;
}

#title {
  text-align: center;
}

.error {
  background: red;
}

.wait {
  background: orange;
}

.info {
  background: gray;
}

.success {
  background: green;
}
